{% form 'product', product, class:form_classes, novalidate: 'novalidate', data-product-form: '' %}
...
{% comment %}
    Custom form field to add a line_item.properties entry with the name "upload", containing the link to the uploaded file.
{% endcomment %}
<div class="product-form__item product-form__item--upload">
   <label for="upload">Upload</label>
   <input required class="required" id="upload" type="file" name="properties[upload]" class="product-form__input">
</div>
...
{% endform %}