<div id="nts-main-landing" class="landing">
  <div class="container">
    <div class="row">
      <div class="nts-instruction-flow col-md-8 col-md-push-2 col-md-pull-2 col-xs-12">
        <div class="inner-row">
          <div class="nts-instruction-box box-1 col-md-3 col-xs-6">
            <div class="number-icon">1</div>
            <div class="instruction-title">Choose your product</div>
            <div class="instruction-detail">Shop the innovation in Nike TEAM</div>
          </div>
          <div class="nts-instruction-box box-2 col-md-3 col-xs-6">
            <div class="number-icon">2</div>
            <div class="instruction-title">Make it yours</div>
            <div class="instruction-detail">To your exact specifications</div>
          </div>
          <div class="nts-instruction-box box-3 col-md-3 col-xs-6">
            <div class="number-icon">3</div>
            <div class="instruction-title">Add to cart</div>
            <div class="instruction-detail">Update player info and quantities</div>
          </div>
          <div class="nts-instruction-box box-4 col-md-3 col-xs-6">
            <div class="number-icon">4</div>
            <div class="instruction-title">Check out</div>
            <div class="instruction-detail">Place your order and we'll deliver within three weeks or less</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style type="text/css">
#nts-main-landing .row {
  	margin: 0 auto;
}
#nts-main-landing .inner-row {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -12px;
    margin-left: -12px;
}
#nts-main-landing .nts-instruction-flow {
    margin-bottom: 30px;
}
#nts-main-landing .nts-instruction-flow .nts-instruction-box {
/*     border-right: 1px solid #c1c1c1; */
    border-right: 1px solid #ddd;
    min-height: 100px;
    text-align: center;
}
#nts-app-container *, 
#nts-app-container :after, 
#nts-app-container :before, 
[role=dialog] *, 
[role=dialog] :after, 
[role=dialog] :before {
    box-sizing: inherit;
}
#nts-main-landing .nts-instruction-flow .nts-instruction-box .number-icon {
    border: 1px solid #8d8d8d;
    color: #8d8d8d;
    border-radius: 11px;
    width: 22px;
    height: 22px;
    display: inline-block;
    margin: 11px;
    font-size: 14px;
    line-height: 20px;
}
#nts-main-landing .nts-instruction-flow .nts-instruction-box .instruction-title {
    font-size: 16px;
  	font-weight: 500;
}
#nts-main-landing .nts-instruction-flow .nts-instruction-box .instruction-detail {
    color: #8d8d8d;
    font-size: 16px;
}
#nts-main-landing .nts-instruction-flow .nts-instruction-box {
/*     border-right: 1px solid #c1c1c1; */
    border-right: 1px solid #ddd;
    min-height: 100px;
    text-align: center;
}
#nts-main-landing .nts-instruction-flow .nts-instruction-box:last-child {
    border-right: none;
}
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    padding: 0 20px;
}
.col-xs-6 {
    width: 50%;
}
.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    float: left;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
} 
@media (min-width: 992px){
  .col-md-push-2 {
      left: 16.66666667%;
  }
}

@media (min-width: 992px){
  .col-md-pull-2 {
      right: 16.66666667%;
  }
}
@media (min-width: 992px){
  .col-md-8 {
      width: 66.66666667%;
  }
}
@media (min-width: 992px){
  .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
      float: left;
  }
}
@media (min-width: 992px){
  .col-md-3 {
      width: 25%;
  }
}
@media (min-width: 992px){
  .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
      float: left;
  }
}
 
</style>

{% schema %}
{
  "name": {
    "en": "Steps"
  },
  "settings": [
  ],
  "presets": [
    {
      "name": {
        "en": "Steps"
      },
      "category": {
        "en": "Promo"
      }
    }
  ]
}
{% endschema %}

